
@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    --color-brand-primary: #A3160B;
    --color-brand-primary-muted: #f46358;
    --color-brand-secondary: #F69A13;
    --color-brand-secondary-muted: #faca84;
    --color-base: #444444;
    --color-muted: #696969;
    --color-inverted: #e9ebfc;
    --color-accent: #000000;
    --color-heading: #A3160B;
    --color-h1: #A3160B;
    --color-link: #A3160B;
    --color-link-hover: #7f1e1e;
    --color-btn: #A3160B;
    --color-btn-hover: #A3160B;
    --color-input: #000000;
    --color-input-focus: #7f1e1e;
    --color-header: #444444;
    --color-header-muted: #696969;
    --color-footer:  #771008;
    --color-footer-muted: #f46358;
    --color-supplementary: #091843;
    --color-supplementary-muted: #0f2970;
    --color-info: #1e429f;
    --color-success: #03543f;
    --color-warning: #723b13;
    --color-danger: #9b1c1c;
    --color-featured: #0a0a0a;
    --color-blog: #0a0a0a;
    --color-place: #0a0a0a;
    --color-album: #0a0a0a;
    --color-bor-base: #dbdbdb;
    --color-bor-muted: #f4f6fd;
    --color-bor-primary: #A3160B;
    --color-bor-secondary:#023859;
    --color-bor-btn: #dbdbdb;
    --color-bor-input: #dbdbdb;
    --color-bor-input-focus: #A3160B;
    --color-bor-footer:#fde9e7;
    --color-bor-supplementary: #f4f6fd;
    --color-bor-info: #a4cafe;
    --color-bor-success: #84e1bc;
    --color-bor-warning: #faca15;
    --color-bor-danger: #f8b4b4;
    --color-bcg-body: #FFFFFF;
    --color-bcg-base: #F7F8F2;
    --color-bcg-primary:#A3160B;
    --color-bcg-primary-muted: #bf5e5e;
    --color-bcg-secondary:#F69A13;
    --color-bcg-secondary-muted:#faca84;
    --color-bcg-btn: #F7F8F2;
    --color-bcg-btn-hover: #FFFFFF;
    --color-bcg-input: #fef4e6;
    --color-bcg-info: #ebf5ff;
    --color-bcg-success: #f3faf7;
    --color-bcg-warning: #fdfdea;
    --color-bcg-danger: #fdf2f2;
    --color-bcg-accent: #e9eefc;
    --color-bcg-header: #FFFFFF;
    --color-bcg-jumbotron: #F7F8F2;
    --color-bcg-supplementary: #F7F8F2;
    --color-bcg-footer: #FFFFFF;
    --color-bcg-card: #F7F8F2;
    --color-bcg-featured: #F7F8F2;
    --color-bcg-article: #fef4e6;
    --color-bcg-blog: #F7F8F2;
    --color-bcg-place: #F7F8F2;
    --color-bcg-album: #F7F8F2;
    --color-icon: #ffffff;
}