
@theme {


    --font-size-base: 1.2rem;
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
    --color-brand-primary: #023859;
    --color-brand-primary-muted: #005d9f;
    --color-brand-secondary: #023859;
    --color-brand-secondary-muted: #005d9f;
    --color-base: #444444;
    --color-muted: #696969;
    --color-inverted: #e9ebfc;
    --color-accent: #000000;
    --color-heading: #444444;
    --color-h1: #444444;
    --color-link: #005d9f;
    --color-link-hover:#023859;
    --color-btn: #023859;
    --color-btn-hover: #005d9f;
    --color-input: #000000;
    --color-input-focus: #005d9f;
    --color-header: #414141;
    --color-header-muted: #8fa8f0;
    --color-footer:  #414141;
    --color-footer-muted: #9f9f9f;
    --color-supplementary: #091843;
    --color-supplementary-muted: #0f2970;
    --color-info: #1e429f;
    --color-success: #03543f;
    --color-warning: #723b13;
    --color-danger: #9b1c1c;
    --color-featured: #0a0a0a;
    --color-blog: #0a0a0a;
    --color-place: #0a0a0a;
    --color-album: #0a0a0a;
    --color-bor-base: #d7d7d7;
    --color-bor-muted: #f4f6fd;
    --color-bor-primary: #005d9f;
    --color-bor-secondary:#023859;
    --color-bor-btn: #dbdbdb;
    --color-bor-input: #dbdbdb;
    --color-bor-input-focus: #005d9f;
    --color-bor-footer:#fde9e7;
    --color-bor-supplementary: #f4f6fd;
    --color-bor-info: #a4cafe;
    --color-bor-success: #84e1bc;
    --color-bor-warning: #faca15;
    --color-bor-danger: #f8b4b4;
    --color-bcg-body: #FFFFFF;
    --color-bcg-base: #F7F8F2;
    --color-bcg-primary:#005d9f;
    --color-bcg-primary-muted: #299ff1;
    --color-bcg-secondary:#023859;
    --color-bcg-secondary-muted:#005d9f;
    --color-bcg-btn: #F7F8F2;
    --color-bcg-btn-hover: #FFFFFF;
    --color-bcg-input: #fef4e6;
    --color-bcg-info: #ebf5ff;
    --color-bcg-success: #f3faf7;
    --color-bcg-warning: #fdfdea;
    --color-bcg-danger: #fdf2f2;
    --color-bcg-accent: #e9eefc;
    --color-bcg-header: #FFFFFF;
    --color-bcg-jumbotron: #f4e9d4;
    --color-bcg-supplementary: #F7F8F2;
    --color-bcg-footer: #fff;
    --color-bcg-card: #F7F8F2;
    --color-bcg-featured: #F7F8F2;
    --color-bcg-article: #fef4e6;
    --color-bcg-blog: #F7F8F2;
    --color-bcg-place: #F7F8F2;
    --color-bcg-album: #F7F8F2;
    --color-bcg-form: #f4e9d4;
    --color-icon-primary: #023859;
    --color-icon-secondary: #023859;

    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
}
@variant dark (&:where(.dark, .dark *));
